{% extends 'todos/main.html' %}

{% block content %}
<div id="header">
<a href="{% url 'list' %}"><span class="iconify" data-icon="ant-design:home-filled" style="color: black;" data-width="40"></span></a>
<h3 style="text-align: center; font-size:30px;">Forms</h3>
<br>
</div>
<div id="forms">
          


<form  method="POST">
          {% csrf_token %}
          <h3>Title</h3>
          {{form.title}}
          <h3>Description</h3>
          {{form.description}}
<br><br>
          <input type="submit" value="Add" id="buttn">
          <br><br>


</form>
</div>

{% endblock %}

