{% extends 'todos/main.html' %}

{% block content %}
<div id="header">
<a href="{% url 'list' %}"><span class="iconify" data-icon="ant-design:home-filled" style="color: black;" data-width="40"></span></a>
          <h3 style="text-align: center; font-size: 30px;">Delete</h3>
          <br>
</div>      
<div id="forms">
<form method="POST">

          {% csrf_token%}
          <h3 id="confirm">Are you sure you want to delete {{task}}</h3> 
          <br>
          <input type="submit" value="Delete" id="buttn">




</form>

</div>
{% endblock %}
