
{% extends 'todos/main.html' %}
<!-- {% load static %} -->

{% block content %}

<div id="header">
          {% if request.user.is_authenticated %}
          <h1 id="logout"><a href="{% url 'logout' %}">Logout</a></h1>
          <h1>Hello,{{request.user|title}}</h1>
          <h2>You have {{count}} task{{count|pluralize:"s"}} to complete</h2>
          {% else %}
          <a href="{% url 'login' %}">Login</a>

          {% endif %}

</div>
<div class="wrapper">
          <form method="GET" id="search">
                    <input type="text" name="search_area" value="{{search_input}}">
                    <input type="submit" value="Search" id="buttn">
          </form>
          <h2 id="add"><a href="{% url 'create' %}">&#43;</a></h2>
  
          {% for task in tasks %}
          <div class="text-wrapper">
                    {% if task.complete %}
                    <div class="task-title">
                              <div class="complete-circle"></div>
                              <i><s><a href="{% url 'update' task.id %}">{{task.title|title}}</a></s></i>
                              
                    </div>
                    <a href="{% url 'delete' task.id %}">&#10540;</a>
                    {% else %}
                    <div class="task-title">
                              <div class="incomplete-circle"></div>
                              <a href="{% url 'update' task.id %}">{{task.title|title}}</a>
                    </div>
                    <a href="{% url 'delete' task.id %}">&#10540;</a>
          
                    {% endif %}
                    
          </div>  
          {% empty %}
          <p>No items to show</p> 
          {% endfor %} 
        
         

</div>














{% endblock %}